@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Refence Movies</h1>
    <p>
        REFERENCE MOVIE ES UN SOFTWARE DE
        RECOMENDACION TECNOLOGICA QUE TIENE COMO
        BASE LA CAPTURA, PROCESAMIENTO Y ANALISIS DE
        DATOS PROVENIENTES DE PLATAFORMAS DE
        STREAMING EXTERNAS.
    </p>
</div>
