@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Reference Movies se compromete a proteger su privacidad y respaldar una politica general de apertura sobre como recopilamos
    usamos y divulgamos sus datos personales.</p>
